<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="TransparencyControlEx.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="TransparancyControlEx.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="TransparencyControlEx.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <TransparencyControlEx.Properties.Settings>
            <setting name="TransparancyStep" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="UseExtendClientArea" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Names" serializeAs="String">
                <value />
            </setting>
            <setting name="DecTranspKey" serializeAs="String">
                <value>Ctrl+Alt+Add</value>
            </setting>
            <setting name="IncTranspKey" serializeAs="String">
                <value>Ctrl+Alt+Subtract</value>
            </setting>
            <setting name="SwitchGlassKey" serializeAs="String">
                <value>Ctrl+Alt+Multiply</value>
            </setting>
        </TransparencyControlEx.Properties.Settings>
        <TransparancyControlEx.Properties.Settings>
            <setting name="TransparancyStep" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="UseExtendClientArea" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Names" serializeAs="String">
                <value />
            </setting>
            <setting name="DecTranspKey" serializeAs="String">
                <value>Ctrl+Alt+Add</value>
            </setting>
            <setting name="IncTranspKey" serializeAs="String">
                <value>Ctrl+Alt+Subtract</value>
            </setting>
            <setting name="SwitchGlassKey" serializeAs="String">
                <value>Ctrl+Alt+Multiply</value>
            </setting>
        </TransparancyControlEx.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <TransparencyControlEx.Properties.Settings>
            <setting name="ErrorSetUpHook" serializeAs="String">
                <value>Unable to set the hook.</value>
            </setting>
            <setting name="AppAlreadyRunning" serializeAs="String">
                <value>Application already running.</value>
            </setting>
            <setting name="PropertiesAction" serializeAs="String">
                <value>Properties</value>
            </setting>
            <setting name="ExitAction" serializeAs="String">
                <value>Exit</value>
            </setting>
            <setting name="HKPickerNothing" serializeAs="String">
                <value>Nothing</value>
            </setting>
            <setting name="HKPickerKeyIsUnknown" serializeAs="String">
                <value>Unknown key: </value>
            </setting>
            <setting name="PF_HotKeysGroupBox" serializeAs="String">
                <value>Hot keys</value>
            </setting>
            <setting name="PF_IncTransparencyHotKey" serializeAs="String">
                <value>Increment transparency</value>
            </setting>
            <setting name="PF_DecTransparencyHotKey" serializeAs="String">
                <value>Decrement transparency</value>
            </setting>
            <setting name="PF_SwitchGlass" serializeAs="String">
                <value>Turn on\off Aero Glass</value>
            </setting>
            <setting name="PF_TransparencyStep" serializeAs="String">
                <value>Transarency changing step</value>
            </setting>
            <setting name="PF_UseExtendClientArea" serializeAs="String">
                <value>Extend client area instead of blur</value>
            </setting>
            <setting name="PF_ProcessNamesCaption" serializeAs="String">
                <value>Apply Aero Glass to the following names of processes. (One line - one value)</value>
            </setting>
            <setting name="PF_Caption" serializeAs="String">
                <value>Properties</value>
            </setting>
            <setting name="UnableToRegisterHotKey" serializeAs="String">
                <value>Unable to register the hot key: </value>
            </setting>
        </TransparencyControlEx.Properties.Settings>
    </applicationSettings>
</configuration>
